release/
debug/
ui_*.h
ui_*.cpp
object_script.nesicide2*
*.pro.user
./output
Makefile
*.o
moc_*
*.moc
qrc_*
*.exe
Makefile.Debug
Makefile.Release
nesicide2
nesicide2.exe
*/.directory
libraries/
compiler/lex.asm.c
compiler/lex.pp.c
compiler/libpasm.a
compiler/pasm
compiler/pasm_asm.output
compiler/pasm_asm.tab.c
compiler/pasm_asm.tab.h
lua/*.a
lua/*.o
lua/*.dll
