release/
debug/
ui_*.h
ui_*.cpp
*.exe
*.so*
object_script.*
*.pro.user*
./output
*.o
moc_*
*.moc
qrc_*
*.exe
**/Makefile*
*/.directory
deps/
compiler/lex.asm.c
compiler/lex.pp.c
compiler/libpasm.a
compiler/pasm
compiler/pasm_asm.output
compiler/pasm_asm.tab.c
compiler/pasm_asm.tab.h
lua/*.a
lua/*.o
lua/*.dll
.DS_Store
.qmake.stash
*.dylib
**/.idea/
*.interp
*.tokens
*.pyc
rcLexer*
rcParser*
rcVisitor*
rcListener*
/build/nesicide-deps.tar.bz2
