[Desktop Entry]
X-AppInstall-Package=nesicide
X-AppInstall-Popcon=305
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=NESICIDE
NoDisplay=true
Comment=Develop and play NES games
Exec=nesicide
Terminal=false
MimeType=application/x-nes-rom
Categories=Development

X-Ubuntu-Gettext-Domain=app-install-data
